<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Profiles</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Coding Profiles</h1>
    </header>
    <main>
        <div class="profile">
            <a href="https://www.codechef.com/users/vhemanth31" class="profile-link">
                <img src="{% static 'codechef.png' %}" alt="CodeChef">
                <p>CodeChef</p>
            </a>
        </div>
        <div class="profile">
            <a href="https://leetcode.com/u/klu_2200031284/" class="profile-link">
                <img src="{% static 'leetcode.png' %}" alt="LeetCode">
                <p>LeetCode</p>
            </a>
        </div>
        <div class="profile">
            <a href="https://www.hackerrank.com/profile/klu_2200031284" class="profile-link">
                <img src="{% static 'hackerrank.png' %}" alt="HackerRank">
                <p>HackerRank</p>
            </a>
        </div>
    </main>
</body>
</html>
